.sidebar {
  background-color: blue;
  color: blue;

  .sidebar__header {
    background-color: blue;

    // .three {
    //   background-color: yellow;
    // }
  }

  .sidebar__body {
    background-color: blue;
  }

  .sidebar__footer {
    background-color: blue;
  }
}
